@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

:root {
  --background: #fafaf9; /* stone-50 */
  --foreground: #1c1917; /* stone-900 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
